<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>Admin</title>
    </h:head>
    <h:body>
        <b:navBar brand="Flatmate Finder" brandHref="admin.xhtml" inverse="true" fluid="true" >
            <ui:fragment rendered="#{not empty request.remoteUser}">
                <h:form>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><h:link value="G'day, #{request.remoteUser}"></h:link></li>
                            <li><h:commandLink action="#{adminController.logout}" value="Logout"></h:commandLink></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </h:form>
            </ui:fragment>
        </b:navBar>
        <b:container>
            <h1>Admin Dashboard</h1>
            <h:messages styleClass="alert alert-danger" errorStyle="color:red;" infoStyle="color:blue;"/>
            <h:dataTable  class="table table-hover table-fontsize" var="customer" value="#{flatMateController.customers}">
                <h:column>
                    <f:facet name="header">
                        Username
                    </f:facet>
                    <h:link outcome="details" value="#{customer.id}">
                        <f:param name="index" value="#{customer.id}"/>
                    </h:link>
                </h:column>
                <h:column>
                    <f:facet name="header">
                        Subscription level
                    </f:facet>
                    <h:outputText value="#{customer.subLevel}"></h:outputText>
                </h:column>
                <h:column>
                    <f:facet name="header">
                        Expiry date
                    </f:facet>
                    <h:outputText value="#{customer.expiryDate}" style="center">
                        <f:convertDateTime pattern="MM/dd/yyyy"/>
                    </h:outputText>
                </h:column>
                <h:column>
                    <f:facet name="header">
                        Points
                    </f:facet>
                    <h:outputText value="#{customer.points}" style="center">
                    </h:outputText>
                </h:column>
                <h:column>
                    <f:facet name="header">
                        Renew
                    </f:facet>
                    <h:form>
                        <b:commandButton class="btn btn-default btn-sm" value="1 month"
                                         icon="glyphicon glyphicon-repeat" look="success" ajax="false"
                                         rendered="#{accountController.isCustomerSubscribed(customer)}"
                                         action="#{adminController.renew}"/>
                    </h:form>
                </h:column>
            </h:dataTable>
        </b:container>
    </h:body>
</html>