<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <f:metadata>
        <f:viewAction action="#{postController.loadPost(param.post)}"/>
    </f:metadata>
    <h:head>
        <title>Address Book</title>
    </h:head>
    <h:body>
        <h1>Address Book</h1>
        <h:form>
            <h3>Postal Details</h3>
            <p>
                <label>title:
                    <h:outputText value="#{postController.currentPost.title}"/>
                </label>
            </p>
           <p>
                <label>title:
                    <h:outputText value="#{postController.currentPost.id}"/>
                </label>
            </p>
            
            <p>Are you sure you want to delete this user?</p>
            <p>
                <h:commandButton value="Delete" action="#{postController.deletePost}"/>
                <h:button value="Cancel" outcome="index"/>
            </p>
        </h:form>
    </h:body>
</html>