<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>Error</title>
    </h:head>
    <h:body>
        <ui:include src="navbar.xhtml" />

        <b:container >
            <h1>Whoops</h1>
            <p style="color: red; font-size: x-large">Something went wrong!</p>
            <br/>
            <h:button value="Login" class="btn btn-info"
                      outcome="login"
                      rendered="#{not accountController.logined}"/>
            <span/>
            <b:button value="Back" class="btn btn-info"
                      outcome="index"
                      rendered="#{accountController.logined}"/>
        </b:container>
    </h:body>
</html>

