<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>Login</title>
    </h:head>
    <h:body>
        <ui:include src="navbar.xhtml" />

        <b:container >
            <h1>Login</h1>
            <b:tabView activeIndex="0">
                <b:tab title="Login">
                    <h3>Login</h3>

                    <h:panelGrid cellpadding="3" >
                        <h:form>
                            <h:panelGrid cellpadding="5" >
                                <b:inputText required="true" placeholder="username"
                                             id="username" requiredMessage="Please enter the username"
                                             value="#{accountController.inputId}" >
                                    <f:facet name="prepend">
                                        <b:icon name="user"/>
                                    </f:facet>
                                </b:inputText>
                                <b:inputSecret required="true" placeholder="password"
                                               id="password" requiredMessage="Please enter the password"
                                               value="#{accountController.inputPassword}">
                                    <f:facet name="prepend">
                                        <b:icon name="lock"/>
                                    </f:facet>
                                </b:inputSecret>
                            </h:panelGrid>
                            <h:messages styleClass="alert alert-danger" style="color: red;"/>
                            <b:commandButton value="Login" look="primary" action="#{accountController.login}" />
                        </h:form>
                    </h:panelGrid>
                </b:tab>

                <!--this function does not finish yet-->
                <b:tab title="Login as Admin">
                    <h3>Login as Admin</h3>
                    <h:form >
                        <h:panelGrid cellpadding="5" >
                            <b:inputText required="true" placeholder="username"
                                         id="username" requiredMessage="Please enter the username"
                                         value="#{adminController.admin.username}" >
                                <f:facet name="prepend">
                                    <b:icon name="user"/>
                                </f:facet>
                            </b:inputText>
                            <b:inputSecret required="true" placeholder="password"
                                           id="password" requiredMessage="Please enter the password"
                                           value="#{adminController.admin.password}">
                                <f:facet name="prepend">
                                    <b:icon name="lock"/>
                                </f:facet>
                            </b:inputSecret>
                        </h:panelGrid>
                        <h:messages styleClass="alert alert-danger" style="color: red;"/>
                        <b:commandButton value="Login" look="primary" action="#{adminController.login}" />
                    </h:form>
                </b:tab>
            </b:tabView>
        </b:container>
    </h:body>
</html>

