
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:b="http://bootsfaces.net/ui"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets">
    <b:navBar brand="Flatmate Finder" brandHref="index.xhtml" inverse="true" fluid="true" >

        <ui:fragment rendered="#{empty request.remoteUser}">
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><h:link value="Register" outcome="register"></h:link></li>
                    <li><h:link value="Login" outcome="login"></h:link></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </ui:fragment>
        <ui:fragment rendered="#{not empty request.remoteUser}">
            <h:form>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><h:link value="G'day, #{request.remoteUser}"></h:link></li>
                    <li><h:link value="My Record" outcome="myrecord"></h:link></li>
                    <li><h:link value="Profile" outcome="profile"></h:link></li>
                    <li><h:commandLink action="#{accountController.logout}" value="Logout"></h:commandLink></li>
                </ul>
            </div><!-- /.navbar-collapse -->
            </h:form>
        </ui:fragment>
    </b:navBar>
</ui:composition>