<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>Profile Setting</title>
    </h:head>
    <h:body>
        <ui:include src="navbar.xhtml" />
        <b:container >
            <h1>Profile</h1>
            <b:tabView activeIndex="0">
                <b:tab title="My plan">
                    <h:panelGrid cellpadding="3" >
                        <h:form>
                            <h3>Member type</h3>
                            <h:outputText value="Current state: #{accountController.currentCustomer.subLevel}"></h:outputText>
                            <b:selectOneMenu value="#{accountController.currentCustomer.subLevel}" >
                                <f:selectItem itemValue="FREE" itemLabel="Free - $0" />
                                <f:selectItem itemValue="STANDARD" itemLabel="Standard - $5/month" />
                                <f:selectItem itemValue="PREMIUM" itemLabel="Premium - $7/month" />
                            </b:selectOneMenu>
                            <h:messages styleClass="alert alert-danger" errorStyle="color:red;" infoStyle="color:blue;"/>
                            <b:commandButton value="Change" look="primary" action="#{accountController.changePlan}"/>
                        </h:form>
                    </h:panelGrid>
                </b:tab>


            </b:tabView>
        </b:container>
    </h:body>
</html>

