<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>Login</title>
    </h:head>
    <h:body>
        <ui:include src="navbar.xhtml" />
        <b:container >
            <h1>Welcome to join our big family!</h1>

            <h:form >
                <h:panelGrid cellpadding="5" >
                    <f:event listener="#{accountController.validatePassword}" type="postValidate" />
                    <b:inputText id="username" value="#{accountController.currentCustomer.id}"
                                 required="true" placeholder="username"
                                 requiredMessage="Please enter the username" >
                        <f:facet name="prepend">
                            <b:icon name="user"/>
                        </f:facet>
                    </b:inputText>
                    <b:inputSecret id="password" value="#{accountController.currentCustomer.password}"
                                   required="true" placeholder="password"
                                   requiredMessage="Please enter the password">
                        <f:facet name="prepend">
                            <b:icon name="lock"/>
                        </f:facet>
                    </b:inputSecret>
                    <b:inputSecret id="confirmPassword"
                                   required="true" placeholder="confirm password"
                                   requiredMessage="Please confirm the password">
                        <f:facet name="prepend">
                            <b:icon name="lock"/>
                        </f:facet>
                    </b:inputSecret>
                    <h:outputText value="Member type"/>
                    <b:selectOneMenu value="#{accountController.currentCustomer.subLevel}">
                        <f:selectItem itemValue="FREE" itemLabel="Free - $0" />
                        <f:selectItem itemValue="STANDARD" itemLabel="Standard - $5/month" />
                        <f:selectItem itemValue="PREMIUM" itemLabel="Premium - $7/month" />
                    </b:selectOneMenu>
                </h:panelGrid>

                <h:messages styleClass="alert alert-danger" errorStyle="color:red;" infoStyle="color:blue;"/>
                <b:commandButton action="#{accountController.register}" value="Join" look="primary" />
            </h:form>
        </b:container>
    </h:body>
</html>

